<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.rschroll.crosswords" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Crosswords</name>
    <description>
        Download and play crossword puzzles from a variety of sources
    </description>
    <author email="rschroll@gmail.com" href="http://rschroll.github.io">
        Robert Schroll
    </author>
    <content src="index.html" />
    <icon src="crosswords.png" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
