[data-role="pagestack"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

[data-role="page"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
}
