/* Copyright 2014 Robert Schroll
 *
 * This file is part of Crosswords and is distributed under the terms
 * of the GPL. See the file LICENSE for full details.
 */

[data-role="pagestack"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

[data-role="page"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
}

[data-role="list"] ul li>label {
    line-height: 2.2rem;
    text-align: right;
    padding-right: 1.3rem;
}
