/* Copyright 2014 Robert Schroll
 *
 * This file is part of Crosswords and is distributed under the terms
 * of the GPL. See the file LICENSE for full details.
 */

#sources {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    overflow: auto;
}

#dates {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    overflow: auto;
}

#list-page [data-role="footer"] {
    display: none !important;
}

#sources .selected {
    background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(0,0,0,0.07))
}
