/* Copyright 2014 Robert Schroll
 *
 * This file is part of Crosswords and is distributed under the terms
 * of the GPL. See the file LICENSE for full details.
 */

list-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sources {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    overflow: auto;
}

#dates {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    overflow: auto;
}

#dates > li > span {
    float: right;
}

#dates-notes {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#dates-notes::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.1rem;
    height: 100%;
    margin-left: -0.1rem;
}

#dates-notes span {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

#list-page [data-role="footer"] {
    display: none !important;
}

#sources .selected {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.07)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.07));
    background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(0,0,0,0.07));
}
